*{
    margin: 0;
    padding: 0;
}

.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: gold;}
.e{background-color: magenta;}
.box{background-color: gray;}
.a,.b,.c,.d,.e{
    /* width:100px ; */
    aspect-ratio: 1/1;
    padding: 10px;
    /* box-sizing: border-box; */
}
.box1{
    /* border: 1px solid black; */
    width: 800px;
    height: 100px;
    display: flex;
    /* justify-content: flex-start;s */
    /* align-items: flex-start; */
}
