*{
    margin: 0;
    padding: 0;
}

.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: gold;}
.e{background-color: magenta;}
.box{background-color: gray;
    margin-bottom: 100px;}
.box5{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.box5 div{
    width: 100px;
    height: 100px;
}
.box5 .a{order: 5;}
.box5 .b{order: 4;}
.box5 .c{order: 3;}
.box5 .d{order: 2;}
.box5 .e{order: 1;}

.box6{
    width: 800px;
    height: 300px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}
.box6 div{
    flex-basis: 400px;
    padding: 10px;
    box-sizing: border-box;
}
 .box7{
    width: 800px;
    height: 300px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}
.box7 .content1 div{
    width: 100px;
    height: 100px;
}
.box7 .content2{
    align-items: flex-end;
    flex-direction: column;
    display: flex;
    
}
.box7 .content2 div{
    width: 100px;
    height: 100px;
} 
.box7{
     flex-wrap: wrap; 
    width: 800px;
    height: 300px;
    display: flex;
}
 .box7 .content2{
    width: 400px;
    height: 300px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.box7 .content1{
    width: 400px;
    height: 300px;
    background-color: gray;
    /* display: flex;  세로 배치는 플랙스가 필요 없다.*/
     flex-direction: column; 
 }
.content1 div{
    width: 100px;
    height: 100px;
}
.content2 div{
    width: 100px;
    height: 100px; 
 } 
/* 아래가 선생님 답안 */
 .box7{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.box7{
    width: 100px;
    height: 100px;
} 
  .box8{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    
 }
section div{
    width: 100px;
    height: 100px;
}
section{
    display: flex;
}
.box8 .content2{
    flex-direction: row-reverse;
} 

 .box9{
    width: 800px;
    height: 300px;
    display: flex;
    flex-grow: 1;
}
section{
    display: flex;
}
section div{
    width: 250px;
}
.box9 .box9-3{
    flex-direction: column;
}
.box9-3 div{
    width: 300px;
    height: 100px;
} 

.box9{
    width: 800px;
    height: 300px;
    display: flex;
}
section{
    display: flex;
}
.box9 .content1{
    width: 500px;
    height: 300px;
}
.content1 div{
    flex-grow: 1;
}
.box9 .content2{
     flex-direction: column;
    width: 300px;
    height: 300px;
}
.content2 div{
    flex: 1;
} 

.box10{
    width: 800px;
    height: 300px;
    display: flex;
}
.box10-1,.box10-3{
    display: flex;
}
.box10-1 div{
    width: 250px;
}
.box10-3 div{
    width: 250px;
}
.box10-2{
    width: 300px;
}
.box10-2 .c{
    height: 100px;
}
.box10-2 .mini{
    display: flex;
    height: 200px;
}
.mini div{
    flex: 1;
}




.box11{
    width: 800px;
    height: 300px;
    display: flex;
}
.box11-1{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box11-1 div{
    height: 100px;
}

.box11-2{
    /* border: 1px solid red; */
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
   
}
.box11-2 .mini{
    display: flex;
    width: 200px;
    height: 100px;
}
.box11-3 .e{
    width: 200px;
}
.box11-3{
    display: flex;
}
.box11-2 .mini div{
    flex: 1;
}




.box12{
    /* border: 1px solid red; */
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box12 .e{
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box12 .a,.b{
    width: 100px;
    height: 100px;
}
