*{
    margin: 0;
    padding: 0;
}
.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: gold;}
.e{background-color: magenta;}
.box{background-color: gray;}

.box7{
    width: 800px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
section div{
    width: 100px;
    height: 100px;
}