:root{
    --base-wide1:22px;
    --base-pc:20px;
    --base-pad:18px;
    --base-mo:14px
}

html{
    font-weight: 400;
    font-family: 'Pretendard',sans-serif;
}
.common-frame{
    width: 1600px;
    margin: 0 auto;
}
header .common-frame{
    display: flex;
    justify-content: space-between;
}
.common-frame .logo{
    line-height: 0;
}
.gnb{
    display: flex;
}
.gnb li{
}
.gnb>li>a{
    display: flex;
    padding: 0 1rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}
.banner{
    height: 700px;
    background: url(../img/bg.jpg) no-repeat 50% 50% /cover;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.banner h1{
    font-size: 7.5rem;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
}



@media (max-width:3840px){
    html{
        font-size: var(--base-wide1);
    }
}
@media (max-width:1920px){
    html{
        font-size: var(--base-pc);
    }
}
@media (max-width:1024px){
    html{
        font-size: var(--base-pad);
    }
    .common-frame{
        width: auto;
        margin: 0 2rem;
    }
    .common-frame .logo img{
        height: 90px;
        object-fit: cover;
    }
    .banner{
        height: 600px;
        margin-bottom: 6.1rem;
    }
    .banner h1 {
        font-size: 4.4rem;
    }
}
@media (max-width:768px){
    html{
        font-size: var(--base-mo);
    }
}

