@media (max-width:768px){
    html{
        font-size: var(--base-mo);
    }
    .common-frame {
        margin: 0 1rem 416px;
    }
    .common-frame h2 {
        font-size: 50px;
    }
    .type1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 150px;
    }
    .gallery figure {
        aspect-ratio: 0;
    }
    .type1 figure:nth-of-type(3) {
        grid-column: 1/3;
    }
    .type2 {
        flex-direction: column;
        padding-bottom: 0;
    }
    .gallery.type2 figure {
        aspect-ratio: 365/150;
    }
}