html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard', sans-serif;
}
.stp1{
    font-family: "아보";
}
.wrap{
    background: url(../img/bg.png) no-repeat 50% 50% / contain;
}
.common-frame{
    width: 1600px;
    margin: 0 auto;
    padding-top: 6rem;
}
.common-frame .banner{
    height: 599px;
    background: url(../img/back.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    margin-bottom: 6rem;
}
.banner .title-1{
    color: #fff;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
}
.common-frame .title-2{
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
}
.common-frame .desc1{
    line-height: 140%;
    text-transform: uppercase;
    margin: 2.4rem 0;
}
.cafe-gal{
    display: flex;
    gap: 1rem;
}
.cafe-gal figure{
    aspect-ratio: 520/434;
    flex: 1;
}
.cafe-gal figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.ver1{
    margin-bottom: 2rem;
}
.ver2 figure{
    aspect-ratio: 790/434;

}
.title-3{
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.common-frame .desc2{
    line-height: 140%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}