html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard', sans-serif;
}
.wrap{
    width: 1440px;
    margin: 3.5rem auto;
    text-align: center;
}
.wrap h1{
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
    padding: 1rem 0;
}
.desc1{
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 5rem;
}
.banner{
    height: 441px;
    background: url(../img/cafe.jpg) no-repeat 50% 50% / cover;
    margin-bottom: 5rem;
}
.wrap h2{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    text-transform: uppercase;
    padding:.5rem 0;
    margin-bottom: .5rem;
}
ul li{
    line-height: 100%;
    text-transform: uppercase;
    margin-top: .5rem;
}
