*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: inherit;
}
a{
    color: inherit;
    text-decoration: inherit;
}
address{
    font-style: inherit;
}
ul,ol{
    list-style: none;
}


html{
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}
#wrap{
    /* border: 1px solid red; */
    width: 1440px;
    margin: 3.75rem auto;
}
#wrap h1{
    /* border: 1px solid blue; */
    padding: 1rem 0;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
}
#wrap p{
    font-size: 20px;
    text-align: center;
}
.banner{
    background: url(../img/cafe.jpg) no-repeat 50% 50% / cover;
    height: 441px;
    margin: 5rem 0;
}
main{
    text-align: center;
}
main h2{
    padding: .5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
main p{
    line-height: 100%;
    height: 24px;
    margin: .5rem 0;
}