.a{
    width: 100px;
    height: 100PX;
    background-color: red;
    transition: 1s;
}
.a:hover{
    background-color: blue;
    width: 200px;
    font-size: 2rem;
}
.b{
    width: 100px;
    height: 100px;
    background-color: green;
}
.b:active{
    background-color: #000;
    color: #fff;
}
.box{
    background-color: aquamarine;
    width: 300px;
    height: 300px;
}
.c{
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
}
.box .c:hover{
    /* box클래스 안의 c클래스에 마우스를 올리면 */
    font-size: 2rem;
}
.box:hover .c{
    /* 마우스가 올려진 box클래스 안의 c클래스를 선택 */
    background-color: gold;
}
.d:before{
    content: "추가된 내용1";
    width: 100px;
    height: 100px;
    display: block;
    border: 1px solid blue;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.d:after{
    content: "추가된 내용2";
    border: 1px solid red;
    display: block;
    width: 100px;
    height: 100px;/*  */
}
