html{
    font-family: 'Pretendard' sans-serif; 
    font-size: 20px;
    font-weight: 400;
}
.banner {
    /* border: 1px solid red; */
    height: 599px;
    background: url(../img/ex3-1.png) no-repeat 50% 79% / cover;
    border-radius: 0 0 150px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    /* border: 1px solid lime; */
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.abo{
    font-family: "Aboreto", system-ui;
    font-size: 1rem;
    font-style: normal;
}

.common-frame{
    width: 1600px;
    margin: 0 auto;
}

h2.deco-title{
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10rem;
    background: url(../img/deco.svg) no-repeat 50% 0 ;
    margin-bottom: 2rem;
}
.desc1{
    line-height: 140%;
    text-align: center;
    margin-bottom: 5rem;
    text-transform: uppercase;
}
.desc1 em{
    color: #770000;
}
body{
    background: url(../img/BACKGROUND.png) repeat-x 0% 690px / contain;
}
.cafe-gal{
    display: flex;
    gap: 20px;
    margin-bottom: 2.5rem;
}
.cafe-gal figure{
    flex: 1;
    aspect-ratio: 790/434;
    font-size: 0;
}
.cafe-gal figure img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.common-frame h3{
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 1rem;
}
.common-frame h3 em{
    color: #770000;
}
.common-frame h3+p{
    margin-bottom: .5rem;
}
.common-frame p strong{
    font-weight: 600;
}