html{
    font-size: 20px;
    font-weight: 400;git
    font-family: 'Pretendard';
}
.stp1{
    font-family: 아보;
}
.banner{
    height: 599px;
    background: url(../img/ex3-1.png) no-repeat 50% 70% / cover;
    border-radius: 0 0 7.5rem 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title1{
    color: #fff;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
}