@media (max-width:768px){
    html{
        font-size: var(--base-mo);
    }
    .common-frame{
        margin: 0 1rem;
    }
    .cafe-gal {
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    .cafe-gal figure{
        aspect-ratio: 365/200;
        /* flex-basis: 100%; */
        min-height: 0;
        /* height: 100px; */
    }
    h2.deco-title {
        font-size: 50px;
        background: url(../img/deco.svg) no-repeat 50% -60px;
    }
}