html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard';
}
.stp1{
    font-family: "아보";
}
.banner{
    height: 599px;
    background: url(../img/bg.png) no-repeat 50% 50% / cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}
.banner .heading1{
    color: #fff;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
    }
.wrap{
    width: 1600px;
    margin: 0 auto;
}
.wrap .heading2{
    font-size: 4rem;
    line-height: 90%;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.wrap .desc1{
    border-top: 1px solid#000;
    line-height: 140%;
    text-align: right;
    text-transform: uppercase;
    padding: 1rem 0;
    margin-bottom: 3rem;
}
.gal img{
    width: 1000px;
    height: 430px;
    object-fit: cover;
    margin-bottom: 1rem;
}
.gal figcaption{
    line-height: 140%;
    text-transform: lowercase;
}
span{
    font-weight: 800;
}