.kedu{
    font-family: "케듀";
    font-weight: 700;
}
.kedu2{
    font-family:"케듀테두리" ;
}


.dakku{
    font-family: 'NostalgicYuriDakku';
}

.mons{
    font-family: "Corinthia", cursive;
}
.b{
      font-family: "Henny Penny", system-ui;
}