html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard', sans-serif;
}
.stp1{
    font-family: "아보";
}
.title-box{
    width: 1600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem;
}
.title-box .title-1{
    padding-top: 8rem;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.title-box .desc1{
    line-height: 140%;
    text-transform: uppercase;
}
.wrap .banner{
    height: 700px;
    background: url(../img/background.jpg) no-repeat 50% 45% / cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5rem;
}
.banner .title-2{
    color: #fff;
    width: 1600px;
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
}
.signature-list{
    width: 1604px;
    margin: 0 auto;
}
.sub-title{
    text-align: center;
    margin-bottom: 3.5rem;
}
.title-3{
    font-size: 2rem;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.desc2{
    line-height: 140%;
}
.signature-list .list{
    display: flex;
    gap: 1rem;
}
.list li{
    flex:1;
}
li figure {
    aspect-ratio: 1/1;
    line-height: 0;
    margin-bottom: 1rem;
}
li figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.list li h4{
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: .5rem;
}
li p{
    line-height: 140%;
}
.list li+li p{
    display: -webkit-box;          
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;        
    overflow: hidden;             
    text-overflow: ellipsis;
    word-break: break-all; 
}