.stp1{
    font-family: 아보;
}
html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard', sans-serif;
}
.title-box{
    width: 1600px;
    margin: 0 auto;
    padding-top: 8rem;
    text-align: center;
}
.title-box h1{
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.title-box .desc1{
    line-height: 140%;
    text-transform: uppercase;
}
.banner{
    margin: 5rem 0;
    height: 700px;
    background: url(../img/background.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banner h2{
    width: 1600px;
    color: #fff;
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
}
.signature-list{
    width: 1604px;
    margin: 0 auto;
}
.signature-list h3{
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 1rem;
}
.signature-list .desc2{
    line-height: 140%;
    text-align: center;
    margin-bottom: 3.5rem;
}
.signature-list ul{
    display: flex;
    gap: 1rem;
}
.signature-list ul li{
    flex: 1;
}
ul li figure{
    aspect-ratio: 1/1;
    line-height: 0;
    margin-bottom: 1rem;
}
figure img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}
li dl dt{
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: .5rem;
}
li dl dd{
    line-height: 140%;
}
ul li:nth-of-type(2) dd{
      display: -webkit-box;          
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;        
    overflow: hidden;             
    text-overflow: ellipsis;
    word-break: break-all;  
}
