.main-font{
    font-family: "Aboreto", system-ui;
}
html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard', sans-serif;
}

.wrap .title-box{
    width: 1600px;
    margin: 0 auto;
    text-align: center;
}
.title-box h1{
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
    padding-top: 8rem;
    margin-bottom: 1rem;
}
.title-box p{
    line-height: 140%;
    text-transform: uppercase;
}
.banner{
    height: 700px;
    background: url(../img/background.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 5rem 0;
}
.banner h2{
    color: #fff;
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
    width: 1600px;
}
.signature-list{
    width: 1604px;
    margin: 0 auto;
}
.signature-list h3{
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 1rem;
    text-align: center;
}
.signature-list .desc1{
    line-height: 140%;
    text-align: center;
    margin-bottom: 3.5rem;
}
.signature-list ul{
    display: flex;
    gap: 1rem;
}
ul li{
    flex: 1;
    height: 634px;
}
li div{
    aspect-ratio: 1/1;
    font-size: 0;
    margin-bottom: 1rem;
}
li div img{
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
dl dt{
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: .5rem;
}
dl dd{
    line-height: 140%;
}
dl .desc2{       
    display: -webkit-box;          
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;        
    overflow: hidden;             
    text-overflow: ellipsis;
    word-break: break-all;  
}