*{
    margin: 0;
    padding: 0;
}
.box{
    border: 10px solid red;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  기본값 
    /* justify-content: space-between;  */
    align-items: flex-end;
    gap: 20px;
}
.box section{
    border: 1px solid blue;
}