*{
    margin: 0;
    padding: 0;
}
.box{
    border: 10px solid red;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    justify-content: flex-end;  
=======
    justify-content: flex-end; 
>>>>>>> cc600f66d52caada19e7ffd2a2cfd3dda91e261e
    /* justify-content: space-between;  */
    align-items: flex-end;
    /* gap: 20px; */
}
.box section{
    height: 100px;
    width: 100px;
    border: 1px solid blue;
}