/* * {margin:0;} */
/* * { padding: 0;} */
.m {
    background-image: url(../img/sub_vis01_02.jpg);
    height: 250px;
}
h2 {
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 30px;
    padding: 0 auto;
}
.a {
    width: 1000px;
    margin: 0 auto;
}
.c{
    padding: 0 40px;
    font-size: 52px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
.d {
    width: 800px;
    padding: 50px 90px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: gray;
}
.e {

    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}
.f {
    text-align: center;
    margin-bottom: 20px;
}
.g {
    text-align: center;
}