html{
    font-size: 16px;
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
}
.mft{
    font-family: 아보;
}
.banner{
    height: 963px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    margin-bottom: 120px;
}
.ligo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.common-frame{
    width: 1600px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
ul li{
    color: #fff;
}
.lnb{
    gap: 20px;
    height: 30px;
}
.lnb li{
    line-height: 100%;
    text-transform: uppercase;
}
.gnb{
    height: 70px;
}
.gnb li{
    width: 138px;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
}
ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    color: #fff;
    font-size: 140px;
    line-height: 90%;
    vertical-align: middle;
    text-transform: uppercase;
    width: 1600px;
    margin: 193px auto 292px;
}
.container{
    width: 1600px;
    margin: 0 auto;
}
.container h2{
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.container p{
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-bottom: 80px;
}
figure img{
    height: 441px;
    width: 1600px;
    object-fit: cover;
}
.wrap{
    margin-bottom: 155px;
}